@{
	var url = Request.Url.AbsolutePath;
}

<div class="col-md-5 col-lg-4 col-xl-4 col-sidebar">
	<div id="sidebar" class="sidebar-left">
		<div class="sidebar_inner">
			<div class="list-group no-border list-unstyled">
				@if (ViewBag.IsAdmin)
				{
					<span class="list-group-item heading">Admin</span>
					<a href="/email-settings" class="list-group-item"><i class="fa fa-fw fa-envelope-o"></i> Email Settings</a>
				}
				@if (ViewBag.IsDirector)
				{
					<span class="list-group-item heading">Manage Firm</span>
					<a href="/account/manage-firm" class="list-group-item @(url == "/account/manage-firm" ? "active":"")"><i class="fa fa-fw fa-building-o"></i> Manage Firm</a>
					<span class="list-group-item heading">Manage Agents</span>
					<a href="/account/add-agent" class="list-group-item @(url == "/account/add-agent" ? "active":"")"><i class="fa fa-fw fa-plus-square-o"></i> Add Agent</a>
					<a href="/account/agents" class="list-group-item @(url.StartsWith("/account/agent") ? "active":"")"><i class="fa fa-fw fa-group"></i> Agents</a>
				}

				@if (ViewBag.IsAgent || ViewBag.IsLandlord)
				{
					<span class="list-group-item heading">Rentals</span>
					if (!ViewBag.IsAdmin && !ViewBag.IsLandlord)
					{
						<a href="/account/add-rental" class="list-group-item @((url.Contains("rental") && !url.Contains("rentals")) ? "active" : "")"><i class="fa fa-fw fa-plus-square-o"></i> Add Listing</a>
					}
					<a href="/account/rentals" class="list-group-item @(url == "/account/rentals" ? "active":"")"><i class="fa fa-fw fa-building-o"></i> Listings</a>
					if (!ViewBag.IsAdmin && !ViewBag.IsLandlord)
					{
						<a href="/account/add-tenant" class="list-group-item @((url.Contains("tenant") && !url.Contains("tenants")) ? "active" : "")"><i class="fa fa-fw fa-plus-square-o"></i> Add Tenant</a>
					}
					<a href="/account/tenants" class="list-group-item @(url == "/account/tenants" ? "active":"")"><i class="fa fa-fw fa-building-o"></i> Tenants</a>
				}

				@*@if (ViewBag.IsAgent || ViewBag.IsLandlord)
				{
					<span class="list-group-item heading">Sales</span>
					if (!ViewBag.IsAdmin && !ViewBag.IsLandlord)
					{
						<a href="/account/add-sale" class="list-group-item @((url.Contains("rental") && !url.Contains("rentals")) ? "active" : "")"><i class="fa fa-fw fa-plus-square-o"></i> Add Listing</a>
					}
					<a href="/account/sales" class="list-group-item @(url == "/account/sales" ? "active":"")"><i class="fa fa-fw fa-building-o"></i> Listings</a>
					if (!ViewBag.IsAdmin && !ViewBag.IsLandlord)
					{
						<a href="/account/add-otp" class="list-group-item @((url.Contains("otp") && !url.Contains("otps")) ? "active" : "")"><i class="fa fa-fw fa-plus-square-o"></i> Add OTP</a>
					}
					<a href="/account/otps" class="list-group-item @(url == "/account/otps" ? "active":"")"><i class="fa fa-fw fa-building-o"></i> OTPs</a>
				}*@

				<span class="list-group-item heading">Manage Account</span>
				@if (ViewBag.IsAgent && !ViewBag.IsAdmin && !ViewBag.IsDirector)
				{
					<a href="/account/documents" class="list-group-item @(url == "/account/documents" ? "active":"")"><i class="fa fa-fw fa-briefcase"></i> My Documents</a>
				}
				<a href="/account/profile" class="list-group-item @(url == "/account/profile" ? "active":"")"><i class="fa fa-fw fa-pencil"></i> My Profile</a>
				<a href="/account/change-password" class="list-group-item @(url == "/account/change-password" ? "active":"")"><i class="fa fa-fw fa-lock"></i> Change Password</a>
			</div>
		</div>
	</div>
</div>