<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Hasslefree - @ViewBag.Title</title>

	<link href="https://fonts.googleapis.com/css?family=Libre+Franklin:100,200,300,400,500,700" rel="stylesheet">

	<link href="/scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/scripts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="/scripts/animate.css" rel="stylesheet">
	<link href="/scripts/selectric/selectric.css" rel="stylesheet">
	<link href="/scripts/swiper/css/swiper.min.css" rel="stylesheet">
	<link href="/scripts/aos/aos.css" rel="stylesheet">
	<link href="/scripts/Magnific-Popup/magnific-popup.css" rel="stylesheet">
	<link href="/styles/style.css" rel="stylesheet">

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="/scripts/jquery-3.2.1.min.js"></script>
	<script src="/scripts/popper.min.js"></script>

	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/scripts/bootstrap/js/bootstrap.min.js"></script>
	<script src="/scripts/selectric/jquery.selectric.js"></script>
	<script src="/scripts/swiper/js/swiper.min.js"></script>
	<script src="/scripts/aos/aos.js"></script>
	<script src="/scripts/Magnific-Popup/jquery.magnific-popup.min.js"></script>
	<script src="/scripts/sticky-sidebar/ResizeSensor.min.js"></script>
	<script src="/scripts/sticky-sidebar/theia-sticky-sidebar.min.js"></script>
	<script src="/scripts/lib.js"></script>
	<script src="/scripts/sweetalert.min.js" type="text/javascript"></script>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	@RenderSection("PageStyles", false)
	@Html.RenderStyles()


</head>

<body>
	<div id="main">

		@Html.Partial("_MainMenu")

		@RenderBody()

		<button class="btn btn-primary btn-circle" id="to-top"><i class="fa fa-angle-up"></i></button>

		@Html.Partial("_Footer")

	</div>

	@RenderSection("PageScripts", false)
	@Html.RenderJavaScriptsDefer()

</body>
</html>