@using System.Web
@model Nop.Plugin.Widgets.HassleFree.Models.Property24.Property24Model
@{
    Layout = "_ColumnsTwo";
    ViewBag.PageTitle = "Listings";

    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-order-list-page");
}

@section left
{
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = 150 })
}
<div class="page account-page order-list-page">
    <div class="page-title">
        <h1>@T("Account.MyAccount") - Property 24 Property</h1>
    </div>
    <div class="page-body">
        <div class="order-list">
            <div class="section order-item">
                <div class="title">
                    <strong>Listing ID: @Model.PropertyId</strong>
                </div>
                <ul class="info">
                    <li><b>Name:</b> <span class="order-status">@Model.Name</span></li>
                    <li><b>Province:</b> <span class="order-date">@Model.Province</span></li>
                    <li><b>City:</b> <span class="order-total">@Model.City</span></li>
                    <li><b>Suburb:</b> <span class="order-total">@Model.Suburb</span></li>
                    <li><b>Price:</b> <span class="order-total">@Model.Price</span></li>
                    <li><b>Description:</b> <span class="order-total" style="white-space: pre-line;">@(HttpUtility.HtmlDecode(Model.Description))</span></li>
                    <li>
                        <b>
                            Images:
                        </b><br />
                        @foreach (var image in Model.Images)
                        {
                            <span><img src="@image" style="height:150px" /></span>
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>