@model Hasslefree.Web.Models.Filter.FilterList
@{ 
	var sortyBy = Request.QueryString["s"];
	if(sortyBy==null)
	{
		sortyBy = "MostRecent";
	}
}
<div class="container">
	<div class="row justify-content-md-center">
		<div class="col col-lg-12 col-xl-10">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
					<li class="breadcrumb-item"><a href="javascript:;">Listings</a></li>
					<li class="breadcrumb-item active" aria-current="page">@Model.CategoryPath.TrimStart('/').Replace("/", " / ")</li>
				</ol>
			</nav>
			<div class="page-header">
				<h1>Property to rent near @Model.CategoryName </h1>
			</div>
		</div>
	</div>
</div>
<div id="content" style="transform: none;">
	<div class="container" style="transform: none;">
		<div class="row justify-content-md-center" style="transform: none;">
			<div class="col col-lg-12 col-xl-10" style="transform: none;">
				<div class="row has-sidebar" style="transform: none;">
					<div class="col-md-4 col-lg-3" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">

						@Html.Action("GetFilters", "AvailableFilters", new { items = Model.Items })

					</div>
					<div class="col-md-8 col-lg-9" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">

						<div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none;">
							<div class="sorting">
								<div class="row justify-content-between">
									<div class="col-sm-5 col-md-5 col-lg-4 col-xl-3">
										<div class="form-group">
											<select onchange="redirectMe()" id="sort-by" class="form-control ui-select">
												<option @(sortyBy == "MostRecent" ? "selected" : "") value="MostRecent">Most recent</option>
												<option @(sortyBy == "HighestPrice" ? "selected" : "") value="HighestPrice">Highest price</option>
												<option @(sortyBy == "LowestPrice" ? "selected" : "") value="LowestPrice">Lowest price</option>
											</select>
										</div>
									</div>
									<div class="col-sm-6 col-md-5 col-lg-4 col-xl-3">
										<div class="btn-group float-right" role="group"></div>
									</div>
								</div>
							</div>
							<div class="clearfix"></div>

							<div class="item-listing list">
								@foreach (var item in Model.Items)
								{
									<div class="item">
										<div class="row">
											<div class="col-lg-5">
												<div class="item-image">
													<a href="@item.Url">
														<img src="@item.Images.FirstOrDefault()" class="img-fluid" alt="">
														<div class="item-badges">
															<div class="item-badge-right">@(item.PropertyType == Hasslefree.Core.Domain.Properties.PropertyType.Rental ? "To Rent" : "For Sale")</div>
														</div>
														<div class="item-meta">
															<div class="item-price">
																R@(item.Price)
															</div>
														</div>
													</a>
												</div>
											</div>
											<div class="col-lg-7">
												<div class="item-info">
													<h3 class="item-title"><a href="@item.Url">@item.Title</a></h3>
													<div class="item-location"><i class="fa fa-map-marker"></i>&nbsp;@item.Address</div>
													<div class="item-details-i">
														@if (item.RoomsKeyValues.ContainsKey("Bedrooms"))
														{
															<span class="bedrooms" data-toggle="tooltip" title="@(item.RoomsKeyValues["Bedrooms"]) Bedrooms">@(item.RoomsKeyValues["Bedrooms"]) <i class="fa fa-bed"></i></span>
														}
														@if (item.RoomsKeyValues.ContainsKey("Bathrooms"))
														{
															<span class="bathrooms" data-toggle="tooltip" title="@(item.RoomsKeyValues["Bathrooms"]) Bathrooms">@(item.RoomsKeyValues["Bathrooms"]) <i class="fa fa-bath"></i></span>
														}
													</div>
												</div>
												<div class="row">
													<div class="col-md-6">
														<div class="added-on">Listed on @item.CreatedOn.ToString("dd MMMM yyyy") </div>
													</div>
												</div>
											</div>
										</div>
									</div>
								}

							</div>
							<nav aria-label="Page navigation">
								<ul class="pagination">
									<li class="page-item"><a class="page-link" href="#">«</a></li>
									<li class="page-item active"><a class="page-link" href="#">1</a></li>
									<li class="page-item"><a class="page-link" href="#">2</a></li>
									<li class="page-item"><a class="page-link" href="#">3</a></li>
									<li class="page-item"><a class="page-link" href="#">»</a></li>
								</ul>
							</nav>
							<div class="resize-sensor" style="position: absolute; inset: 0px; overflow: hidden; z-index: -1; visibility: hidden;">
								<div class="resize-sensor-expand" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;">
									<div style="position: absolute; left: 0px; top: 0px; transition: all 0s ease 0s; width: 723px; height: 1616px;"></div>
								</div>
								<div class="resize-sensor-shrink" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;">
									<div style="position: absolute; left: 0; top: 0; transition: 0s; width: 200%; height: 200%"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section PageStyles{

	<link href="/scripts/selectric/selectric.css" rel="stylesheet" />

}

@section PageScripts{

	<script src="/scripts/sidr/jquery.sidr.min.js"></script>
	<script src="/scripts/selectric/jquery.selectric.js"></script>
	<script>
		$(document).ready(function () {
			$('#toggle-filters').sidr({
				side: 'left',
				displace: false,
				renaming: false,
				name: 'sidebar',
				source: function () {
					AOS.refresh();
				},

			});

			$(".ui-select:visible").selectric({
				//minimumResultsForSearch: Infinity,
				//dropdownCssClass: "animated fadeIn"
			}
			);

		});

		function redirectMe() {
		var url = '@(Request.Url.LocalPath + "?")';
			var qs = '';

			var buildingIds = '';
			var buildingCount = 0;
			$('#building input:checked').each(function (i, e) {

				if (buildingCount == 0) buildingIds = $(e).val()
				else buildingIds = buildingIds + '|' + $(e).val();

				buildingCount++;
			});

			var externalIds = '';
			var externalCount = 0;
			$('#external input:checked').each(function (i, e) {

				if (externalCount == 0) externalIds = $(e).val()
				else externalIds = externalIds + '|' + $(e).val();

				externalCount++;
			});

			var roomIds = '';
			var roomCount = 0;
			$('#rooms input:checked').each(function (i, e) {

				if (roomCount == 0) roomIds = $(e).val()
				else roomIds = roomIds + '|' + $(e).val();

				roomCount++;
			});

			if (buildingIds.length > 0) {
				if (qs.length !== 0)
					qs += '&';
				qs += 'bids=' + buildingIds;
			}

			if (externalIds.length > 0) {
				if (qs.length !== 0)
					qs += '&';
				qs += 'eids=' + externalIds;
			}

			if (roomIds.length > 0) {
				if (qs.length !== 0)
					qs += '&';
				qs += 'rids=' + roomIds;
			}

			var sortBy = $('#sort-by').val();

			if (sortBy != 'MostRecent') {
				if (qs.length !== 0)
					qs += '&';
				qs += 's=' + sortBy;
			}

			window.location = url + qs;
		}

	</script>

}