@model Hasslefree.Web.Models.Agents.CompleteAgent

<div class="clearfix"></div>
<div id="content">
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col col-lg-12 col-xl-12">
				<div class="row">

					<div class="col-md-12 col-lg-12 col-xl-12">
						<div class="page-header bordered">
							<h1>Complete Registration <small>Complete your agent profile</small></h1>
						</div>
						<form action="/account/agent/complete-registration" method="post">
							@Html.HiddenFor(m => m.AgentId)
							@Html.HiddenFor(m => m.AgentGuid)
							@Html.HiddenFor(m => m.AgentStatus)
							@{
								if (ViewData.ModelState.Any(m => m.Value.Errors.Count > 0))
								{
									<div class="alert alert-danger" role="alert">
										@Html.ValidationSummary(false)
									</div>
								}
							}
							@Html.AntiForgeryToken()

							@if (Model.AgentStatus == Hasslefree.Core.Domain.Agents.AgentStatus.PendingRegistration)
							{

								<h3 class="subheadline">Basic Information</h3>
								<div class="form-group">
									<label for="Gender">Gender</label>
									@Html.DropDownListFor(m => m.Gender, new SelectList(ViewBag.Genders), new { @class = "form-control", placeholder = "Gender" })
								</div>
								<div class="form-group">
									<label for="Title">Title</label>
									@Html.DropDownListFor(m => m.Title, new SelectList(ViewBag.Titles), new { @class = "form-control", placeholder = "Title" })
								</div>
								<div class="form-group">
									<label for="Name">Name</label>
									@Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Name" })
								</div>
								<div class="form-group">
									<label for="Surname">Surname</label>
									@Html.TextBoxFor(m => m.Surname, new { @class = "form-control", @placeholder = "Surname" })
								</div>
								<div class="form-group">
									<label for="Race">Race</label>
									@Html.DropDownListFor(m => m.Race, new SelectList(ViewBag.Races), new { @class = "form-control", placeholder = "Title" })
								</div>
								<div class="form-group">
									<label for="IdNumber">ID Number</label>
									@Html.TextBoxFor(m => m.IdNumber, new { @class = "form-control", @placeholder = "ID Number" })
								</div>
								<div class="form-group">
									<label for="Nationality">Nationality</label>
									@Html.TextBoxFor(m => m.Nationality, new { @class = "form-control", @placeholder = "Nationality" })
								</div>
								<div class="form-group">
									<label for="Mobile">Mobile</label>
									@Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", @placeholder = "Mobile" })
								</div>
								<h3 class="subheadline">Login Information</h3>
								<div class="form-group">
									<label for="Email">Email</label>
									@Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
								</div>
								<div class="form-group">
									<label for="Password">Password</label>
									@Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
								</div>
								<div class="form-group">
									<label for="ConfirmPassword">Confirm Password</label>
									@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
								</div>
								<h3 class="subheadline">Residential Address</h3>
								<div class="form-group">
									<label for="ResidentialAddress1">Residential Address 1</label>
									@Html.TextBoxFor(m => m.ResidentialAddress1, new { @class = "form-control", @placeholder = "Residential Address 1" })
								</div>
								<div class="form-group">
									<label for="ResidentialAddress2">Residential Address 2</label>
									@Html.TextBoxFor(m => m.ResidentialAddress2, new { @class = "form-control", @placeholder = "Residential Address 2" })
								</div>
								<div class="form-group">
									<label for="ResidentialAddress3">Residential Address 3</label>
									@Html.TextBoxFor(m => m.ResidentialAddress3, new { @class = "form-control", @placeholder = "Residential Address 3" })
								</div>
								<div class="form-group">
									<label for="ResidentialAddressTown">Residential Address City</label>
									@Html.TextBoxFor(m => m.ResidentialAddressTown, new { @class = "form-control", @placeholder = "Residential Address City" })
								</div>
								<div class="form-group">
									<label for="ResidentialAddressProvince">Residential Address Province</label>
									@Html.TextBoxFor(m => m.ResidentialAddressProvince, new { @class = "form-control", @placeholder = "Residential Address Province" })
								</div>
								<div class="form-group">
									<label for="ResidentialAddressCountry">Residential Address Country</label>
									@Html.TextBoxFor(m => m.ResidentialAddressCountry, new { @class = "form-control", @placeholder = "Residential Address Country" })
								</div>
								<div class="form-group">
									<label for="ResidentialAddressCode">Residential Address Code</label>
									@Html.TextBoxFor(m => m.ResidentialAddressCode, new { @class = "form-control", @placeholder = "Residential Address Code" })
								</div>
								<h3 class="subheadline">Postal Address</h3>
								<div class="form-group">
									<label for="PostalAddress1">Postal Address 1</label>
									@Html.TextBoxFor(m => m.PostalAddress1, new { @class = "form-control", @placeholder = "Residential Address 1" })
								</div>
								<div class="form-group">
									<label for="PostalAddress2">Postal Address 2</label>
									@Html.TextBoxFor(m => m.PostalAddress2, new { @class = "form-control", @placeholder = "Residential Address 2" })
								</div>
								<div class="form-group">
									<label for="PostalAddress3">Postal Address 3</label>
									@Html.TextBoxFor(m => m.PostalAddress3, new { @class = "form-control", @placeholder = "Residential Address 3" })
								</div>
								<div class="form-group">
									<label for="PostalAddressTown">Postal Address City</label>
									@Html.TextBoxFor(m => m.PostalAddressTown, new { @class = "form-control", @placeholder = "Residential Address City" })
								</div>
								<div class="form-group">
									<label for="PostalAddressProvince">Postal Address Province</label>
									@Html.TextBoxFor(m => m.PostalAddressProvince, new { @class = "form-control", @placeholder = "Residential Address Province" })
								</div>
								<div class="form-group">
									<label for="PostalAddressCountry">Postal Address Country</label>
									@Html.TextBoxFor(m => m.PostalAddressCountry, new { @class = "form-control", @placeholder = "Residential Address Country" })
								</div>
								<div class="form-group">
									<label for="PostalAddressCode">Postal Address Code</label>
									@Html.TextBoxFor(m => m.PostalAddressCode, new { @class = "form-control", @placeholder = "Residential Address Code" })
								</div>
							}

							@Html.Partial("_SignaturePad", model: "Signature")
							@Html.Partial("_SignaturePad", model: "Initials")

							@if (Model.AgentStatus == Hasslefree.Core.Domain.Agents.AgentStatus.PendingDocumentation)
							{
								<h3 class="subheadline">Documents/Attachments</h3>
								<p>
									Please upload the following documentation:
									<ul>
										<li>CV</li>
										<li>ID</li>
									</ul>
								</p>
								<div class="row">
									@Html.Partial("_FileUploader", model: "UploadIds")
								</div>
							}
							<hr>
							<div class="form-group action">
								<button type="submit" class="btn btn-lg btn-primary">Continue</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>