@model List<Hasslefree.Web.Models.Rentals.RentalListItem>
@{
	var securityService = DependencyResolver.Current.GetService<Hasslefree.Services.Security.ISecurityService>();
	var isAdmin = securityService.IsInSecurityGroup(Hasslefree.Web.Framework.SessionManager.Current.Login.LoginId, new List<string> { "Admin" });
}

<div class="clearfix"></div>
<div id="content">
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col col-lg-12 col-xl-10">
				<div class="row has-sidebar">

					@Html.Action("Index", "AccountMenu")

					<div class="col-md-7 col-lg-8 col-xl-8">
						<div class="page-header bordered">
							<h1>New Rentals</h1>
							@if (!isAdmin && !ViewBag.IsLandlord)
							{
								<a style="position: absolute; right: 0px; top: 0px;" href="/account/add-rental" class="btn btn-primary">Add Rental</a>
							}
						</div>
						<table id="new-listings" class="table table-striped table-bordered bootstrap-datatable datatable table-responsive" style="table-layout:fixed;">
							<thead>
								<tr>
									<th width="30%">Last Modified</th>
									<th width="30%">Type</th>
									<th width="40%">Status</th>
									<th width="10%">
										Actions
									</th>
								</tr>
							</thead>
							<tbody>
								@if (!Model.Where(m => m.IsExisting == false).Any())
								{
									<tr>
										<td colspan="5">
											No Rentals
										</td>
									</tr>
								}
								@foreach (var item in Model.Where(m => m.IsExisting == false))
								{
									<tr>
										<td>
											@item.ModifiedOn.ToString("dd MMMM yyyy, HH:mm")
										</td>
										<td>@item.Type</td>
										<td>
											<p data-toggle="tooltip" title="@item.Status">@item.StatusDescription&nbsp;<i class="fa fa-exclamation-circle"></i></p>
										</td>
										<td>
											<a href="/account/rental?rentalId=@item.Id" class="btn btn-sm btn-link set-default">View</a>
										</td>
									</tr>
								}
							</tbody>
						</table>
						<hr>


						<div class="page-header bordered">
							<h1>Existing Rentals</h1>
						</div>
						<table id="existing-listings" class="table table-striped table-bordered bootstrap-datatable datatable table-responsive" style="table-layout:fixed;">
							<thead>
								<tr>
									<th width="30%">Last Modified</th>
									<th width="30%">Type</th>
									<th width="40%">Status</th>
									<th width="10%">
										Actions
									</th>
								</tr>
							</thead>
							<tbody>
								@if (!Model.Where(m => m.IsExisting == true).Any())
								{
									<tr>
										<td colspan="5">
											No Existing Rentals
										</td>
									</tr>
								}
								@foreach (var item in Model.Where(m => m.IsExisting == true))
								{
									<tr>
										<td>
											@item.ModifiedOn.ToString("dd MMMM yyyy, HH:mm")
										</td>
										<td>@item.Type</td>
										<td>
											<p data-toggle="tooltip" title="@item.Status">@item.StatusDescription&nbsp;<i class="fa fa-exclamation-circle"></i></p>
										</td>
										<td>
											<a href="/account/existing-rental?existingRentalId=@item.Id" class="btn btn-sm btn-link set-default">View</a>
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>

					<hr>
				</div>
			</div>
		</div>
	</div>
</div>