@model Hasslefree.Web.Models.Accounts.ChangePasswordModel

<div class="clearfix"></div>
<div id="content">
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col col-lg-12 col-xl-10">
				<div class="row has-sidebar">

					@Html.Action("Index", "AccountMenu")

					<div class="col-md-7 col-lg-8 col-xl-8">
						<div class="page-header bordered">
							<h1>My profile <small>Manage your profile</small></h1>
						</div>
						<form action="/account/change-password" method="post">
							@Html.AntiForgeryToken()
							@if (ViewData.ModelState.Any(m => m.Value.Errors.Count > 0))
							{
								<div class="alert alert-danger" role="alert">
									@Html.ValidationSummary(false)
								</div>
							}
							@if (ViewContext.TempData["Success"] != null)
							{
								<div class="alert alert-success" role="alert">
									@TempData["Success"]
								</div>
							}
							<div class="form-group">
								<label class="control-label">Current Password</label>
								@Html.PasswordFor(p => p.OldPassword, new { @class = "form-control", placeholder = "(Current Password)" })
							</div>
							<div class="form-group">
								<label class="control-label">New Password</label>
								@Html.PasswordFor(p => p.NewPassword, new { @class = "form-control", placeholder = "(New Password)" })
							</div>
							<div class="form-group">
								<label class="control-label">Confirm Password</label>
								@Html.PasswordFor(p => p.ConfirmPassword, new { @class = "form-control", placeholder = "(Confirm Password)" })
							</div>
							<hr>
							<div class="form-group action">
								<button type="submit" class="btn btn-lg btn-primary">Update Password</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>