@model Storefront.Web.Models.Email.WelcomeEmailModel
@{
	ViewBag.Title = "Welcome";
}
<table class="register-email" cellpadding="0" cellspacing="0" border="0" align="center" style="background-clip:padding-box;border-collapse:collapse;color:#7a8791;font-family:Helvetica,Arial,sans-serif;font-size:14px;line-height:20px;margin:0 auto;width:100%;background-color:#ffffff;border-left: solid 1px #E9ECEA; border-right: solid 1px #E9ECEA;border-bottom: solid 1px #E9ECEA;" bgcolor="#ffffff">
	<tbody>
	<tr>
		<td valign="top">

			<!-- BEGIN HEADER // -->
			<!-- END HEADER // -->
			<table cellpadding="0" cellspacing="0" border="0" style="background-clip:padding-box;border-collapse:collapse;width:100%">
				<tbody>
				<tr>
					<td width="40"></td>
					<td style="background:white;background-clip:padding-box;border-radius:0 0 3px 3px;color:#7a8791;font-family:Helvetica,Arial,sans-serif;font-size:15px;line-height:22px;overflow:hidden;padding:40px 0" bgcolor="white">

						<h1 style="font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:24px;color:#4b5862;margin:0 0 15px 0;font-weight: bold;">
							Welcome to @Model.StoreName!
						</h1>
						@*<p style="font-family:Helvetica,Arial,sans-serif;font-size:14px;line-height:22px;color:#7a8791;margin:0 0 11px 0;">
							Hi @Model.Name,
						</p>*@
						<p style="font-family:Helvetica,Arial,sans-serif;font-size:14px;line-height:22px;color:#7a8791;margin:0 0 30px 0;">
							Thank you for registering on @Model.StoreName! We hope you will have a great time with us and that you will find everything you need and more!
						</p>
						<h2 style="font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:24px;color:#4b5862;margin:0 0 15px 0;font-weight: bold;">
							Your login details are as follows
						</h2>
						<p style="font-family:Helvetica,Arial,sans-serif;font-size:14px;line-height:22px;color:#7a8791;margin:0 0 11px 0;">
							<b>Username:</b> <a href="#" style="text-decoration:underline;">@Model.Email</a>
						</p>
						<p style="font-family:Helvetica,Arial,sans-serif;font-size:14px;line-height:22px;color:#7a8791;margin:0 0 30px 0;">
							Your password was provided by you during the registration process and no eyes will ever see it. If at anytime you forget your password, you can click this link to reset it: <a rel="noopener noreferrer" href="@Model.StoreUrl/account/reset-password" target="_blank" style="text-decoration:underline;">Reset Password</a>
						</p>
						<a rel="noopener noreferrer" class="btn" href="@Model.StoreUrl/account/login" target="_blank">Login Here</a>

					</td>
					<td width="40"></td>
				</tr>
				</tbody>
			</table>

		</td>

	</tr>
	</tbody>
</table>