@using Nop.Plugin.Widgets.HassleFree.Domain
@model Nop.Plugin.Widgets.HassleFree.Models.Agents.CompleteAgentSignupViewModel
@{
    Layout = "_ColumnsOne";
    ViewBag.PageTitle = "Complete Agent Signup";

    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-order-list-page");

    Html.AppendScriptParts(ResourceLocation.Head, "~/Plugins/Widgets.HassleFree/Scripts/load-image.all.min.js");
    Html.AppendScriptParts(ResourceLocation.Head, "~/Plugins/Widgets.HassleFree/Scripts/canvas-to-blob.min.js");
    Html.AppendScriptParts(ResourceLocation.Head, "~/Plugins/Widgets.HassleFree/Scripts/jquery.ui.widget.js");
    Html.AppendScriptParts(ResourceLocation.Head, "~/Plugins/Widgets.HassleFree/Scripts/tmpl.min.js");
    Html.AppendScriptParts(ResourceLocation.Head, "~/Plugins/Widgets.HassleFree/Scripts/jquery.fileupload-ui.js");
    Html.AppendScriptParts(ResourceLocation.Head, "~/Plugins/Widgets.HassleFree/Scripts/jquery.iframe-transport.js");
    Html.AppendScriptParts(ResourceLocation.Head, "~/Plugins/Widgets.HassleFree/Scripts/jquery.fileupload.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/Plugins/Widgets.HassleFree/Scripts/jquery.blueimp-gallery.min.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/Plugins/Widgets.HassleFree/Scripts/jquery.fileupload-process.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/Plugins/Widgets.HassleFree/Scripts/jquery.fileupload-image.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/Plugins/Widgets.HassleFree/Scripts/jquery.fileupload-audio.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/Plugins/Widgets.HassleFree/Scripts/jquery.fileupload-video.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/Plugins/Widgets.HassleFree/Scripts/jquery.fileupload-validate.js");


    Html.AppendScriptParts(ResourceLocation.Footer, "~/Plugins/Widgets.HassleFree/Scripts/Agents/CompleteSignup.js");

    Html.AppendCssFileParts(ResourceLocation.Head, "~/Plugins/Widgets.HassleFree/Styles/jquery.fileupload.css");
    Html.AppendCssFileParts(ResourceLocation.Head, "~/Plugins/Widgets.HassleFree/Styles/jquery.fileupload-ui.css");
}

@if (ViewBag.RequireForm)
{
    <form asp-route="Plugin.Widgets.HassleFree.Agents.CompleteAgentRegistration" method="post">
        <div class="page account-page address-edit-page">
            <div class="page-title">
                <h1>Complete New Agent Sign Up</h1>
            </div>
            <div class="page-body">
                <div asp-validation-summary="ModelOnly" class="message-error"></div>
                <div class="edit-address">
                    <div class="inputs">
                        <label asp-for="Title" asp-postfix=":"></label>
                        <select asp-for="Title" asp-items="Model.AvailableTitles"></select>
                        <nop-required />
                        <span asp-validation-for="Title"></span>
                    </div>
                    <div class="inputs">
                        <label asp-for="Race" asp-postfix=":"></label>
                        <select asp-for="Race" asp-items="Model.AvailableRaces"></select>
                        <nop-required />
                        <span asp-validation-for="Race"></span>
                    </div>
                    <div class="inputs">
                        <label asp-for="Nationality" asp-postfix=":"></label>
                        <input asp-for="Nationality" />
                        <nop-required />
                        <span asp-validation-for="Nationality"></span>
                    </div>
                    <div class="inputs">
                        <label asp-for="PostalAddress1" asp-postfix=":"></label>
                        <input asp-for="PostalAddress1" />
                        <nop-required />
                        <span asp-validation-for="PostalAddress1"></span>
                    </div>
                    <div class="inputs">
                        <label asp-for="PostalAddress2" asp-postfix=":"></label>
                        <input asp-for="PostalAddress2" />
                        <nop-required />
                        <span asp-validation-for="PostalAddress2"></span>
                    </div>
                    <div class="inputs">
                        <label asp-for="PostalAddress3" asp-postfix=":"></label>
                        <input asp-for="PostalAddress3" />
                        <nop-required />
                        <span asp-validation-for="PostalAddress3"></span>
                    </div>
                    <div class="inputs">
                        <label asp-for="PostalAddressCode" asp-postfix=":"></label>
                        <input asp-for="PostalAddressCode" />
                        <nop-required />
                        <span asp-validation-for="PostalAddressCode"></span>
                    </div>
                    <div class="inputs">
                        <label asp-for="PreviousEmployer" asp-postfix=":"></label>
                        <input asp-for="PreviousEmployer" />
                        <nop-required />
                        <span asp-validation-for="PreviousEmployer"></span>
                    </div>
                    <div class="inputs">
                        <label style="display: inline;" asp-for="FFC" asp-postfix=":"></label>
                        <input asp-for="FFC" />
                        <nop-required />
                        <span asp-validation-for="FFC"></span>
                    </div>
                    <div class="fcc" style="display: none;">
                        <div class="inputs">
                            <label asp-for="FFCNumber" asp-postfix=":"></label>
                            <input asp-for="FFCNumber" />
                            <nop-required />
                            <span asp-validation-for="FFCNumber"></span>
                        </div>
                        <div class="inputs date-of-birth">
                            <label>FFC Issue Date:</label>
                            <nop-date-picker asp-day-name="@Html.NameFor(x => x.FFCIssueDateDay)"
                                             asp-month-name="@Html.NameFor(x => x.FFCIssueDateMonth)"
                                             asp-year-name="@Html.NameFor(x => x.FFCIssueDateYear)"
                                             asp-begin-year="@(DateTime.Now.Year - 110)"
                                             asp-end-year="@(DateTime.Now.Year)"
                                             asp-selected-day="@Model.FFCIssueDateDay"
                                             asp-selected-month="@Model.FFCIssueDateMonth"
                                             asp-selected-year="@Model.FFCIssueDateYear" />
                            <nop-required />
                        </div>
                    </div>
                    <div class="inputs">
                        <label style="display: inline;" asp-for="Reference" asp-postfix=":"></label>
                        <input asp-for="Reference" />
                        <nop-required />
                        <span asp-validation-for="Reference"></span>
                    </div>
                    <div class="inputs">
                        <label style="display: inline;" asp-for="Dismissed" asp-postfix=":"></label>
                        <input asp-for="Dismissed" />
                        <nop-required />
                        <span asp-validation-for="Dismissed"></span>
                    </div>
                    <div class="inputs">
                        <label style="display: inline;" asp-for="Convicted" asp-postfix=":"></label>
                        <input asp-for="Convicted" />
                        <nop-required />
                        <span asp-validation-for="Convicted"></span>
                    </div>
                    <div class="inputs">
                        <label style="display: inline;" asp-for="Insolvent" asp-postfix=":"></label>
                        <input asp-for="Insolvent" />
                        <nop-required />
                        <span asp-validation-for="Insolvent"></span>
                    </div>
                    <div class="inputs">
                        <label style="display: inline;" asp-for="Withdrawn" asp-postfix=":"></label>
                        <input asp-for="Withdrawn" />
                        <nop-required />
                        <span asp-validation-for="Withdrawn"></span>
                    </div>
                </div>
                <div class="buttons">
                    <button type="submit" class="button-1 save-agent-button">Next</button>
                </div>
            </div>
        </div>
    </form>
}
else
{
    <form asp-route="Plugin.Widgets.HassleFree.Agents.CompleteAgentRegistration" method="post" id="fileupload" enctype="multipart/form-data">
        <div class="page account-page address-edit-page">
            <div class="page-title">
                <h1>Complete New Agent Sign Up - Documentation</h1>
            </div>
            <div class="page-body">
                <div asp-validation-summary="ModelOnly" class="message-error"></div>
                <div class="row fileupload-buttonbar">
                    <div class="col-lg-7">
                        <!-- The fileinput-button span is used to style the file input field as button -->
                        <span class="btn btn-success fileinput-button">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>Add files...</span>
                            <input type="file" name="files[]" multiple />
                        </span>
                        <button type="submit" class="btn btn-primary start">
                            <i class="glyphicon glyphicon-upload"></i>
                            <span>Start upload</span>
                        </button>
                        <button type="reset" class="btn btn-warning cancel">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                            <span>Cancel upload</span>
                        </button>
                        <button type="button" class="btn btn-danger delete">
                            <i class="glyphicon glyphicon-trash"></i>
                            <span>Delete selected</span>
                        </button>
                        <input type="checkbox" class="toggle" />
                        <!-- The global file processing state -->
                        <span class="fileupload-process"></span>
                    </div>
                    <!-- The global progress state -->
                    <div class="col-lg-5 fileupload-progress fade">
                        <!-- The global progress bar -->
                        <div class="progress progress-striped active"
                             role="progressbar"
                             aria-valuemin="0"
                             aria-valuemax="100">
                            <div class="progress-bar progress-bar-success"
                                 style="width: 0%;"></div>
                        </div>
                        <!-- The extended global progress state -->
                        <div class="progress-extended">&nbsp;</div>
                    </div>
                </div>
                <!-- The table listing the files available for upload/download -->
                <table role="presentation" class="table table-striped">
                    <tbody class="files"></tbody>
                </table>
                <div class="buttons">
                    <button type="submit" class="button-1 save-agent-button">Submit</button>
                </div>
            </div>
        </div>
    </form>

    <!-- The template to display files available for upload -->
    <script id="template-upload" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-upload fade{%=o.options.loadImageFileTypes.test(file.type)?' image':''%}">
            <td>
                <span class="preview"></span>
            </td>
            <td>
                <p class="name">{%=file.name%}</p>
                <strong class="error text-danger"></strong>
            </td>
            <td>
                <p class="size">Processing...</p>
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
            </td>
            <td>
                {% if (!o.options.autoUpload && o.options.edit && o.options.loadImageFileTypes.test(file.type)) { %}
                <button class="btn btn-success edit" data-index="{%=i%}" disabled>
                    <i class="glyphicon glyphicon-edit"></i>
                    <span>Edit</span>
                </button>
                {% } %}
                {% if (!i && !o.options.autoUpload) { %}
                <button class="btn btn-primary start" disabled>
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start</span>
                </button>
                {% } %}
                {% if (!i) { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
                {% } %}
            </td>
        </tr>
        {% } %}
    </script>
    <!-- The template to display files available for download -->
    <script id="template-download" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-download fade{%=file.thumbnailUrl?' image':''%}">
            <td>
                <span class="preview">
                    {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                    {% } %}
                </span>
            </td>
            <td>
                <p class="name">
                    {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                    {% } else { %}
                    <span>{%=file.name%}</span>
                    {% } %}
                </p>
                {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
                {% } %}
            </td>
            <td>
                <span class="size">{%=o.formatFileSize(file.size)%}</span>
            </td>
            <td>
                {% if (file.deleteUrl) { %}
                <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}" {% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}' {% } %}>
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Delete</span>
                </button>
                <input type="checkbox" name="delete" value="1" class="toggle">
                {% } else { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
                {% } %}
            </td>
        </tr>
        {% } %}
    </script>
}