@model Hasslefree.Web.Models.Rentals.CompleteRentalAgentSignature

<div class="clearfix"></div>
<div id="content">
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col col-lg-12 col-xl-12">
				<div class="row">

					<div class="col-md-12 col-lg-12 col-xl-12">
						<div class="page-header bordered">
							<h1>Complete Application <small>Complete your signatures</small></h1>
						</div>
						<form action="/account/rental/l/complete-signature" method="post">
							@Html.HiddenFor(m => m.RentalGuid)
							@Html.HiddenFor(m => m.AgentGuid)
							@{
								if (ViewData.ModelState.Any(m => m.Value.Errors.Count > 0))
								{
									<div class="alert alert-danger" role="alert">
										@Html.ValidationSummary(false)
									</div>
								}
							}
							@Html.AntiForgeryToken()

							<h3 class="subheadline">Signatures</h3>

							@Html.Partial("_SignaturePad", model: "Signature")
							@Html.Partial("_SignaturePad", model: "Initials")

							<h3 class="subheadline">Witness 1 Details</h3>
							<div class="form-group">
								<label for="Name">Name</label>
								@Html.TextBoxFor(m => m.Witness1Name, new { @class = "form-control", @placeholder = "Name" })
							</div>
							<div class="form-group">
								<label for="Name">Surname</label>
								@Html.TextBoxFor(m => m.Witness1Surname, new { @class = "form-control", @placeholder = "Surname" })
							</div>
							<div class="form-group">
								<label for="Name">Email</label>
								@Html.TextBoxFor(m => m.Witness1Email, new { @class = "form-control", @placeholder = "Email" })
							</div>
							<div class="form-group">
								<label for="Name">Mobile</label>
								@Html.TextBoxFor(m => m.Witness1Mobile, new { @class = "form-control", @placeholder = "Mobile" })
							</div>

							<h3 class="subheadline">Witness 2 Details</h3>
							<div class="form-group">
								<label for="Name">Name</label>
								@Html.TextBoxFor(m => m.Witness2Name, new { @class = "form-control", @placeholder = "Name" })
							</div>
							<div class="form-group">
								<label for="Name">Surname</label>
								@Html.TextBoxFor(m => m.Witness2Surname, new { @class = "form-control", @placeholder = "Surname" })
							</div>
							<div class="form-group">
								<label for="Name">Email</label>
								@Html.TextBoxFor(m => m.Witness2Email, new { @class = "form-control", @placeholder = "Email" })
							</div>
							<div class="form-group">
								<label for="Name">Mobile</label>
								@Html.TextBoxFor(m => m.Witness2Mobile, new { @class = "form-control", @placeholder = "Mobile" })
							</div>

							<hr>
							<div class="form-group action">
								<button type="submit" class="btn btn-lg btn-primary" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Saving...">Continue</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>