@model Hasslefree.Web.Models.Sales.SaleCreate

<div class="clearfix"></div>
<div id="content">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-lg-12 col-xl-10">
                <div class="row has-sidebar">

                    @Html.Action("Index", "AccountMenu")

                    <div class="col-md-7 col-lg-8 col-xl-8">
                        <div class="page-header bordered">
                            <h1>Add Sale</h1>
                        </div>
                        <form action="/account/add-sale" method="post" id="sale-form">
                            @{
                                if (ViewData.ModelState.Any(m => m.Value.Errors.Count > 0))
                                {
                                    <div class="alert alert-danger" role="alert">
                                        @Html.ValidationSummary(false)
                                    </div>
                                }
                            }
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <label>New or Existing?</label>
                                <div>
                                    <div class="radio radio-inline">
                                        <input type="radio" name="Type" id="NewListing" value="NewListing">
                                        <label for="NewListing">New</label>
                                    </div>
                                    <div class="radio radio-inline">
                                        <input type="radio" name="Type" id="ExistingListing" value="ExistingListing">
                                        <label for="ExistingListing">Existing</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" id="new-listing" style="display:none;">
                                <label>Sale Type</label>
                                <div>
                                    <div class="radio radio-inline">
                                        <input type="radio" name="SaleType" id="MultiListing" value="MultiListing">
										<label for="MultiListing">Multi Listing</label>
                                    </div>
                                    <div class="radio radio-inline">
                                        <input type="radio" name="SaleType" id="OpenMandate" value="OpenMandate">
										<label for="OpenMandate">Open Mandate</label>
                                    </div>
                                    <div class="radio radio-inline">
                                        <input type="radio" name="SaleType" id="SoleMandate" value="SoleMandate">
										<label for="SoleMandate">Sole Mandate</label>
                                    </div>
                                </div>
                            </div>
                            <div id="seller-details" style="display:none;">
                                <h3 class="subheadline">Seller(s) Details</h3>
                                <div id="seller-list">
                                    <div seller="true">
                                        <p>Seller 1</p>
                                        <div class="form-group">
                                            <label for="Sellers[0].IdNumber">ID Number</label>
                                            @Html.TextBoxFor(m => m.Sellers[0].IdNumber, new { @class = "form-control", @placeholder = "ID Number", data_validate = "true", data_validate_required = "true" })
                                        </div>
                                        <div class="form-group">
                                            <label for="Sellers[0].Name">Name</label>
                                            @Html.TextBoxFor(m => m.Sellers[0].Name, new { @class = "form-control", @placeholder = "Name", data_validate = "true", data_validate_required = "true" })
                                        </div>
                                        <div class="form-group">
                                            <label for="Sellers[0].Surname">Surname</label>
                                            @Html.TextBoxFor(m => m.Sellers[0].Surname, new { @class = "form-control", @placeholder = "Surname", data_validate = "true", data_validate_required = "true" })
                                        </div>
                                        <div class="form-group">
                                            <label for="Sellers[0].Email">Email</label>
                                            @Html.TextBoxFor(m => m.Sellers[0].Email, new { @class = "form-control", @placeholder = "Email", data_validate = "true", data_validate_required = "true" })
                                        </div>
                                        <div class="form-group">
                                            <label for="Sellers[0].Mobile">Mobile</label>
                                            @Html.TextBoxFor(m => m.Sellers[0].Mobile, new { @class = "form-control", @placeholder = "Mobile", data_validate = "true", data_validate_required = "true" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group action">
                                    <a class="btn btn-primary btn-sm" id="remove-seller" onclick="removeSeller()" style="display:none;">Remove Seller</a>
                                    <a class="btn btn-primary btn-sm" onclick="addSeller()">Add Another Seller</a>
                                </div>
                            </div>
                            <div id="listing-details" style="display:none;">
                                <div class="form-group">
                                    <label for="Premises">Search</label>
                                    <input class="form-control" data-validate="true" data-validate-required="true" type="text" id="search" placeholder="Start typing..." />
                                    <input type="hidden" name="SaleId" id="SaleId" />
                                </div>
                            </div>
                            <hr>
                            <div class="form-group action" id="add-button" style="display:none;">
                                <button type="submit" class="btn btn-lg btn-primary" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Submitting...">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section PageStyles{

    <link href="/styles/easy-autocomplete.min.css" rel="stylesheet" />
    <link href="/styles/easy-autocomplete.themes.min.css" rel="stylesheet" />

    <style type="text/css">

        .easy-autocomplete {
            width: unset !important;
        }
    </style>

}

@section PageScripts{

    <script src="/scripts/jquery.easy-autocomplete.min.js"></script>

    <script type="text/javascript">

        function addSeller() {
            var sellerCount = $('[seller]').length;
			var index = sellerCount;
			var html = '<div seller="' + index + '"><p>Seller ' + (sellerCount + 1) + '</p><div class="form-group"><label for="Sellers[' + index + '].IdNumber">ID Number</label><input type="text" name="Sellers[' + index + '].IdNumber" data-validate="true" data-validate-required="true" class="form-control" placeholder = "ID Number" /></div><div class="form-group"><label for="Sellers[' + index + '].Name">Name</label><input type="text" name="Sellers[' + index + '].Name" data-validate="true" data-validate-required="true" class="form-control" placeholder = "Name" /></div><div class="form-group"><label for="Sellers[' + index + '].Surname">Surname</label><input type="text" name="Sellers[' + index + '].Surname" data-validate="true" data-validate-required="true" class="form-control" placeholder = "Surname" /></div><div class="form-group"><label for="Sellers[' + index + '].Email">Email</label><input type="text" name="Sellers[' + index + '].Email" data-validate="true" data-validate-required="true" class="form-control" placeholder = "Email" /></div><div class="form-group"><label for="Sellers[' + index + '].Mobile">Mobile</label><input type="text" name="Sellers[' + index + '].Mobile" data-validate="true" data-validate-required="true" class="form-control" placeholder = "Mobile" /></div></div>';
            $('#seller-list').append(html);
            $('#remove-seller').show();
        }

        function removeSeller(i) {
            var sellerCount = $('[seller]').length - 1;
			$('[seller=' + sellerCount + ']').remove();

            if ($('[seller]').length == 1) $('#remove-seller').hide();
        }

        $('[name=Type]').on('change', function () {

            $('#add-button').hide();
            $('#seller-details').hide('fast');
            $('#listing-details').hide('fast');
            var val = $(this).val();

            if (val === 'NewListing') {
                //new listing
                $('#new-listing').show('fast');
                $('#existing-listing').hide('fast');

				$('#listing-details').hide('fast');
				$('#add-button').hide();
            }
            else {
                //existing listing
				$('#listing-details').show('fast');
                $('#add-button').show();
				$('#new-listing').hide('fast');
            }

        })

        $('[name=SaleType]').on('change', function () {

            $('#seller-details').show('fast');
            $('#add-button').show();
        })

        $(document).ready(function () {

            $('#sale-form').on('submit', function () {
                return Hasslefree.Functions.Validate(this);
            });

            var options = {
                url: function (phrase) {
                    return "/sales/query?phrase=" + phrase;
                },

                getValue: "Name",

                placeholder: "Start typing to search for an existing listing...",

                list: {

                    onChooseEvent: function () {

                        var value = $("#search").getSelectedItemData()
                        $('#SaleId').val(value.SaleId);
                    }
                }
            };

            $("#search").easyAutocomplete(options);

        })

    </script>

}